@{
    ViewData["Title"] = "Home Page";
}
<div style="width: 150px; height: 100px; padding: 25px; border:dodgerblue 1px solid; text-align: center; margin: 0 auto;">
    <a asp-area="" asp-controller="Streaming" asp-action="Index">Go to Stream Test Page!</a>
</div>